.style-0 {
  background-color: #fff
}
.style-0,
.style-1,
.style-2,
.style-3 {
  opacity: .97
}
.style-4,
.style-5 {
  color: rgba(15,157,88,.97);
  text-align: center;
  font-family: Roboto,sans-serif;
  font-size: 13px;
  font-weight: 700;
  font-style: normal
}
.style-5 {
  color: rgba(40,40,40,.97);
  font-size: 15px;
  font-weight: 300
}
.style-6 {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,.12);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.12)
}
.style-8 {
  color: #5d5d5d;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 10px;
  font-weight: 500;
  font-style: normal
}
.style-9 {
  background-color: #0f9d58;
  border: 2px solid #0f9d58;
  -webkit-box-shadow: 0 2px 1px 1px rgba(0,0,0,.25);
  box-shadow: 0 2px 1px 1px rgba(0,0,0,.25);
  border-radius: 31px 31px
}
.style-11 {
  color: #5d5d5d;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 10px;
  font-weight: 500;
  font-style: normal
}
.style-12 {
  background-color: #0f9d58;
  border: 2px solid #0f9d58;
  -webkit-box-shadow: 0 2px 1px 1px rgba(0,0,0,.25);
  box-shadow: 0 2px 1px 1px rgba(0,0,0,.25);
  border-radius: 31px 31px
}
.style-15 {
  color: #5d5d5d;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 10px;
  font-weight: 500;
  font-style: normal
}
.style-16 {
  background-image: url(https://designresources.assets.yotako.io/40599uo2jdbii7fy.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.style-17,
.style-23 {
  color: #fff;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 21px;
  font-weight: 500;
  font-style: normal
}
.style-23 {
  color: #5d5d5d;
  font-size: 10px
}
.style-24 {
  border: 2px solid #0f9d58;
  border-radius: 31px 31px
}
.style-25 {
  background-color: #0f9d58;
  border-radius: 9px 9px
}
.style-26,
.style-27 {
  color: #fff;
  text-align: center;
  font-family: Roboto,sans-serif;
  font-size: 9px;
  font-weight: 400;
  font-style: normal
}
.style-27 {
  color: #7b7b7b;
  text-align: left;
  font-size: 24px;
  font-weight: 500
}
.style-28 {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,.12);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.12);
  opacity: .97
}
.style-29 {
  color: rgba(93,93,93,.97);
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal
}
.style-30 {
  background-color: #0f9d58;
  border-radius: 3px 3px;
  opacity: .97
}
.style-31,
.style-32 {
  color: rgba(255,255,255,.97);
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal
}
.style-32 {
  color: rgba(93,93,93,.97);
  font-size: 12px
}
.style-33 {
  opacity: .97
}
.style-34,
.style-35 {
  color: rgba(93,93,93,.97);
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal
}
.style-35 {
  color: rgba(38,38,38,.97);
  text-align: center;
  font-size: 19px
}
.style-36 {
  opacity: .97
}
.style-37 {
  background-color: #131313
}
.style-39 {
  background-color: #f3f3f3
}
.style-40 {
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
  box-shadow: 0 0 3px 1px rgba(0,0,0,.1)
}
.style-41,
.style-42,
.style-44 {
  color: #3e3e3e;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal
}
.style-42,
.style-44 {
  color: #767676;
  font-size: 11px
}
.style-47 {
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
  box-shadow: 0 0 3px 1px rgba(0,0,0,.1)
}
.style-48,
.style-49,
.style-51 {
  color: #3e3e3e;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal
}
.style-49,
.style-51 {
  color: #767676;
  font-size: 11px
}
.style-54 {
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
  box-shadow: 0 0 3px 1px rgba(0,0,0,.1)
}
.style-55,
.style-56,
.style-58 {
  color: #3e3e3e;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal
}
.style-56,
.style-58 {
  color: #767676;
  font-size: 11px
}
.style-61 {
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
  box-shadow: 0 0 3px 1px rgba(0,0,0,.1)
}
.style-62,
.style-63,
.style-65 {
  color: #3e3e3e;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal
}
.style-63,
.style-65 {
  color: #767676;
  font-size: 11px
}
.style-68 {
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
  box-shadow: 0 0 3px 1px rgba(0,0,0,.1)
}
.style-70,
.style-71,
.style-73 {
  color: #3e3e3e;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal
}
.style-71,
.style-73 {
  color: #767676;
  font-size: 11px
}
.style-76 {
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
  box-shadow: 0 0 3px 1px rgba(0,0,0,.1)
}
.style-78,
.style-79,
.style-81,
.style-83 {
  color: #3e3e3e;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal
}
.style-79,
.style-81,
.style-83 {
  color: #767676;
  font-size: 11px
}
.style-83 {
  color: #7a7a7a;
  font-size: 13px
}
.style-84 {
  background-color: #0f9d58;
  -webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,.15);
  box-shadow: 0 2px 3px 1px rgba(0,0,0,.15)
}
.style-85 {
  color: #fff;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: normal
}
.style-86 {
  background-color: #fff
}
.style-87,
.style-88,
.style-90 {
  text-align: left;
  font-family: Roboto,sans-serif;
  font-weight: 500;
  font-style: normal
}
.style-87,
.style-88 {
  color: rgba(255,255,255,.6);
  font-size: 13px
}
.style-90 {
  color: #fff;
  font-size: 18px
}
.style-92 {
  background-color: #f3f3f3
}
.style-93 {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,.15);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,.15)
}
.style-94 {
  background-color: #0f9d58;
  border-radius: 18px 18px
}
.style-96 {
  color: #4e4e4e;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal
}
.style-97 {
  background-color: #0f9d58;
  border-radius: 18px 18px
}
.style-99 {
  color: #4e4e4e;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal
}
.style-100 {
  background-color: #0f9d58;
  border-radius: 17px 17px
}
.style-102 {
  color: #4e4e4e;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal
}
.style-103 {
  background-color: #0f9d58;
  border-radius: 18px 18px
}
.style-105 {
  color: #4e4e4e;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal
}
.style-106 {
  background-color: #0f9d58;
  border-radius: 18px 18px
}
.style-108 {
  color: #4e4e4e;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal
}
.style-109 {
  background-color: #0f9d58;
  border-radius: 18px 18px
}
.style-111,
.style-112,
.style-113,
.style-114 {
  color: #4e4e4e;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal
}
.style-112,
.style-113,
.style-114 {
  color: #222;
  font-size: 19px;
  font-weight: 500
}
.style-114 {
  color: #5d5d5d;
  font-size: 13px
}
.style-115 {
  background-color: #0f9d58;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,.25),inset 0 4px 6px 1px rgba(0,0,0,.2);
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.25),inset 0 4px 6px 1px rgba(0,0,0,.2);
  border-radius: 43px 43px;
  opacity: .99
}
.style-117 {
  color: #5d5d5d;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: normal
}
.style-118 {
  background-color: #0f9d58;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,.25),inset 0 4px 6px 1px rgba(0,0,0,.2);
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.25),inset 0 4px 6px 1px rgba(0,0,0,.2);
  border-radius: 43px 43px;
  opacity: .99
}
.style-120 {
  color: #5d5d5d;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: normal
}
.style-121,
.style-123 {
  background-color: #0f9d58
}
.style-121 {
  border: 3px solid #fff;
  border-radius: 43px 43px;
  opacity: .99;
  -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,.25),inset 0 4px 6px 1px rgba(0,0,0,.2);
  box-shadow: 0 1px 1px 1px rgba(0,0,0,.25),inset 0 4px 6px 1px rgba(0,0,0,.2)
}
.style-123 {
  -webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,.15);
  box-shadow: 0 2px 3px 1px rgba(0,0,0,.15)
}
.style-125 {
  color: #fff;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal
}
.style-37 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 27.717%;
  z-index: 37;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.style-38 {
  position: initial;
  margin: 6px 0 0 25.44%;
  width: 73.429%;
  height: 94.934%;
  z-index: 38;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-1-container-6-row-0,
.style-28 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-28 {
  z-index: 28;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 100%;
  height: 25.407%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
.artboard-1-container-6-row-0 {
  position: initial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 23px 0 0 6.28%;
  width: 58.534%;
  height: 35.115%
}
.style-36 {
  position: initial;
  width: 27.097%;
  height: 100%;
  z-index: 36;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-1-container-6-row-0-column-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 0 0 0 10.86%;
  width: 62.035%;
  height: 105.076%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-34,
.style-35 {
  position: initial;
  margin: 0 0 0 .22%;
  width: 37.25%;
  z-index: 35;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-34 {
  margin: 11px 0 0;
  width: 100%;
  z-index: 34
}
.artboard-1-container-6-row-0-column-1-row-2 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 6px 0 0 .66%;
  width: 43.68%;
  height: 26.57%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-33 {
  position: initial;
  width: 22.842%;
  height: 100%;
  z-index: 33;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-30,
.style-32 {
  position: initial;
  margin: 4px 0 0 14.72%;
  width: 62.436%;
  z-index: 32;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-30 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 23px 0 0 61.99%;
  width: 33.655%;
  height: 22.103%;
  z-index: 30
}
.style-29,
.style-31 {
  position: initial;
  margin: 13px 0 0 27.27%;
  width: 45.454%;
  z-index: 31;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-29 {
  margin: 8px 0 0 46.85%;
  width: 49.758%;
  z-index: 29
}
.style-6,
.style-7 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  width: 100%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  height: 20.471%;
  z-index: 6
}
.style-7 {
  position: initial;
  display: list-item;
  margin: 10px 0 0;
  height: 80.973%;
  z-index: 7
}
.artboard-1-container-1-listbox-0-row-0,
.style-24 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-1-container-1-listbox-0-row-0 {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 16px 0 0 5.71%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 86.714%;
  height: 56.284%
}
.style-24 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 19.127%;
  height: 99.514%;
  z-index: 24
}
.style-25,
.style-27 {
  position: initial;
  margin: 21px 0 0 42.71%;
  width: 18.932%;
  z-index: 27;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 2px 0 0 10.19%;
  width: 79.611%;
  height: 31.219%;
  z-index: 25
}
.style-26 {
  margin: 6px 0 0 14.63%;
  width: 70.121%;
  z-index: 26
}
.style-16,
.style-17,
.style-26 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  height: 97.087%;
  margin: 0 0 0 7.33%;
  width: 18.941%;
  z-index: 16
}
.style-17 {
  margin: 16px 0 0 24.5%;
  width: 51.47%;
  z-index: 17
}
.artboard-1-container-1-listbox-0-row-0-image-6-row-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 8px 0 0 21.56%;
  width: 53.431%;
  height: 9.5%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-18 {
  position: initial;
  width: 18.348%;
  height: 100%;
  z-index: 18;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-12,
.style-19,
.style-20,
.style-21,
.style-22 {
  position: initial;
  margin: 0 0 0 2.75%;
  width: 19.266%;
  height: 100%;
  z-index: 19;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-12,
.style-20,
.style-21,
.style-22 {
  margin: 0 0 0 3.66%;
  z-index: 20
}
.style-12,
.style-21,
.style-22 {
  width: 18.348%;
  z-index: 21
}
.style-12,
.style-22 {
  width: 11.009%;
  z-index: 22
}
.style-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 0 0 0 8.26%;
  width: 19.127%;
  z-index: 12
}
.style-13 {
  margin: 20px 0 0 17.96%;
  width: 64.077%;
  height: 35.436%;
  z-index: 13
}
.style-10,
.style-13,
.style-9 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 0 0 0 8.07%;
  width: 19.127%;
  height: 100%;
  z-index: 9
}
.style-10 {
  margin: 18px 0 0 22.33%;
  width: 51.941%;
  height: 37.864%;
  z-index: 10
}
.artboard-1-container-1-listbox-0-row-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 11px 0 0 7%;
  width: 85.024%;
  height: 8.743%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-23 {
  position: initial;
  width: 16.477%;
  z-index: 23;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-15 {
  margin: 0 0 0 11.64%;
  width: 10.132%;
  z-index: 15
}
.style-11,
.style-14,
.style-15,
.style-8 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-14 {
  height: 81.25%;
  margin: 0 0 0 1.04%;
  width: 2.746%;
  z-index: 14
}
.style-11,
.style-8 {
  margin: 0 0 0 12.87%;
  width: 16.098%;
  z-index: 11
}
.style-8 {
  margin: 0 0 0 10.41%;
  width: 18.56%;
  z-index: 8
}
.style-0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0 0;
  width: 100%;
  height: 26.222%;
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.style-5 {
  position: initial;
  margin: 21px 0 0 29.71%;
  width: 40.74%;
  z-index: 5;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-1-container-0-row-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 15px 0 0 38.32%;
  width: 22.946%;
  height: 13.816%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-3 {
  position: initial;
  margin: 2px 0 0;
  width: 29.473%;
  height: 80%;
  z-index: 3;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-2 {
  width: 23.859%;
  height: 100%;
  z-index: 2
}
.style-1,
.style-2,
.style-4 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-1 {
  height: 87.5%;
  margin: 2px 0 0;
  width: 27.368%;
  z-index: 1
}
.style-4 {
  margin: 20px 0 0 39.69%;
  width: 21.014%;
  z-index: 4
}
.artboard-2-container-7-row-0,
.style-84 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-84 {
  z-index: 45;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 100%;
  height: 20.199%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
.artboard-2-container-7-row-0 {
  position: initial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 27px 0 0 4.02%;
  width: 91.948%;
  height: 15.695%
}
.style-89 {
  position: initial;
  margin: 3px 0 0;
  width: 5.429%;
  height: 78.571%;
  z-index: 50;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-90,
.style-91 {
  position: initial;
  margin: 3px 0 0 5.42%;
  width: 25.831%;
  z-index: 51;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-91 {
  margin: 0 0 0 57.09%;
  width: 6.217%;
  height: 100%;
  z-index: 52
}
.artboard-2-container-7-row-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 57px 0 0 6.6%;
  width: 76.409%;
  height: 7.847%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-85,
.style-87,
.style-88 {
  position: initial;
  width: 22.971%;
  z-index: 46;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-87,
.style-88 {
  margin: 0 0 0 9.69%;
  width: 27.081%;
  z-index: 48
}
.style-88 {
  margin: 0 0 0 5.58%;
  width: 34.668%;
  z-index: 49
}
.style-39,
.style-86 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-86 {
  position: initial;
  margin: 14px 0 0 3.22%;
  width: 25.04%;
  height: 3.363%;
  z-index: 47
}
.style-39 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80.298%;
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.style-83 {
  position: initial;
  margin: 20px 0 0 3.54%;
  width: 32.286%;
  z-index: 44;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-2-container-0-container-6-row-0,
.style-76 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-76 {
  z-index: 37;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 15px 0 0 2.89%;
  width: 94.122%;
  height: 13.592%
}
.artboard-2-container-0-container-6-row-0 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 17px 0 0 5.98%;
  width: 89.392%;
  height: 58.091%
}
.style-77 {
  position: initial;
  width: 13.301%;
  height: 100%;
  z-index: 38;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-2-container-0-container-6-row-0-column-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 1px 0 0 6.6%;
  width: 24.306%;
  height: 101.428%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-78,
.style-79 {
  position: initial;
  margin: 0 0 0 .78%;
  width: 100%;
  z-index: 39;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-79 {
  margin: 4px 0 0 .39%;
  width: 66.141%;
  z-index: 40
}
.artboard-2-container-0-container-6-row-0-column-1-row-2 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 6px 0 0;
  width: 35.826%;
  height: 21.126%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-80,
.style-81,
.style-82 {
  position: initial;
  width: 54.945%;
  z-index: 42;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-80,
.style-82 {
  margin: 0 0 0 15.38%;
  width: 29.67%;
  height: 86.666%;
  z-index: 41
}
.style-82 {
  margin: 1px 0 0 54.64%;
  width: 1.148%;
  height: 36.428%;
  z-index: 43
}
.artboard-2-container-0-container-5-row-0,
.style-68 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-68 {
  z-index: 29;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 0 2.89%;
  width: 94.122%;
  height: 13.592%
}
.artboard-2-container-0-container-5-row-0 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 16px 0 0 5.98%;
  width: 89.392%;
  height: 59.336%
}
.style-75 {
  position: initial;
  width: 14.545%;
  height: 100%;
  z-index: 36;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-2-container-0-container-5-row-0-column-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 0 0 0 5.26%;
  width: 21.244%;
  height: 100.699%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-70,
.style-71 {
  position: initial;
  margin: 0 0 0 1.35%;
  width: 100%;
  z-index: 31;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-71 {
  margin: 7px 0 0 .9%;
  width: 75.675%;
  z-index: 32
}
.artboard-2-container-0-container-5-row-0-column-1-row-2 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 7px 0 0;
  width: 41.441%;
  height: 19.444%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-72,
.style-73,
.style-74 {
  position: initial;
  width: 48.913%;
  z-index: 34;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-72,
.style-74 {
  margin: 0 0 0 21.73%;
  width: 29.347%;
  height: 92.857%;
  z-index: 33
}
.style-74 {
  margin: 0 0 0 57.79%;
  width: 1.148%;
  height: 35.664%;
  z-index: 35
}
.artboard-2-container-0-container-4-row-0,
.style-61 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-61 {
  z-index: 22;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 0 2.89%;
  width: 94.122%;
  height: 13.592%
}
.artboard-2-container-0-container-4-row-0 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 15px 0 0 6.24%;
  width: 89.136%;
  height: 60.58%
}
.style-67 {
  position: initial;
  width: 14.011%;
  height: 100%;
  z-index: 28;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-2-container-0-container-4-row-0-column-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 2px 0 0 5.56%;
  width: 18.714%;
  height: 98.63%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-62,
.style-63 {
  position: initial;
  width: 82.051%;
  z-index: 23;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-63 {
  margin: 7px 0 0;
  width: 100%;
  z-index: 24
}
.artboard-2-container-0-container-4-row-0-column-1-row-2 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 5px 0 0;
  width: 47.179%;
  height: 20.138%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-64,
.style-65,
.style-66 {
  position: initial;
  width: 56.521%;
  z-index: 26;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-64,
.style-66 {
  margin: 0 0 0 14.13%;
  width: 29.347%;
  height: 89.655%;
  z-index: 25
}
.style-66 {
  margin: 2px 0 0 60.55%;
  width: 1.151%;
  height: 34.931%;
  z-index: 27
}
.artboard-2-container-0-container-3-row-0,
.style-54 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-54 {
  z-index: 15;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 0 2.89%;
  width: 94.122%;
  height: 13.592%
}
.artboard-2-container-0-container-3-row-0 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 13px 0 0 6.15%;
  width: 89.221%;
  height: 63.9%
}
.style-60 {
  position: initial;
  width: 14.765%;
  height: 100%;
  z-index: 21;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-2-container-0-container-3-row-0-column-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 4px 0 0 4.88%;
  width: 19.654%;
  height: 94.155%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-55,
.style-56 {
  position: initial;
  margin: 0 0 0 1.46%;
  width: 100%;
  z-index: 16;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-56 {
  margin: 7px 0 0 .97%;
  width: 85.365%;
  z-index: 17
}
.artboard-2-container-0-container-3-row-0-column-1-row-2 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 6px 0 0;
  width: 44.878%;
  height: 20.689%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-57,
.style-58,
.style-59 {
  position: initial;
  width: 56.521%;
  z-index: 19;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-57,
.style-59 {
  margin: 0 0 0 14.13%;
  width: 29.347%;
  height: 86.666%;
  z-index: 18
}
.style-59 {
  margin: 4px 0 0 59.53%;
  width: 1.15%;
  height: 33.116%;
  z-index: 20
}
.artboard-2-container-0-container-2-row-0,
.style-47 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-47 {
  z-index: 8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 0 2.89%;
  width: 94.122%;
  height: 13.592%
}
.artboard-2-container-0-container-2-row-0 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 16px 0 0 5.98%;
  width: 89.392%;
  height: 59.751%
}
.style-53 {
  position: initial;
  width: 13.779%;
  height: 100%;
  z-index: 14;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-2-container-0-container-2-row-0-column-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 0 0 0 6.02%;
  width: 51.291%;
  height: 100%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-48,
.style-49 {
  position: initial;
  margin: 0 0 0 .18%;
  width: 34.141%;
  z-index: 9;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-49 {
  margin: 7px 0 0 .18%;
  width: 100%;
  z-index: 10
}
.artboard-2-container-0-container-2-row-0-column-1-row-2 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 7px 0 0;
  width: 17.164%;
  height: 19.444%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-50,
.style-51,
.style-52 {
  position: initial;
  width: 57.608%;
  z-index: 12;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-50,
.style-52 {
  margin: 0 0 0 13.04%;
  width: 29.347%;
  height: 92.857%;
  z-index: 11
}
.style-52 {
  margin: 0 0 0 27.75%;
  width: 1.148%;
  height: 35.416%;
  z-index: 13
}
.artboard-2-container-0-container-1-row-0,
.style-40 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-40 {
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 0 2.89%;
  width: 94.122%;
  height: 13.592%
}
.artboard-2-container-0-container-1-row-0 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 15px 0 0 6.07%;
  width: 89.307%;
  height: 60.995%
}
.style-46 {
  position: initial;
  width: 14.08%;
  height: 100%;
  z-index: 7;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-2-container-0-container-1-row-0-column-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 2px 0 0 5.65%;
  width: 55.555%;
  height: 97.959%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-41,
.style-42 {
  position: initial;
  margin: 0 0 0 .51%;
  width: 100%;
  z-index: 2;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-42 {
  margin: 4px 0 0 .34%;
  width: 42.068%;
  z-index: 3
}
.artboard-2-container-0-container-1-row-0-column-1-row-2 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 7px 0 0;
  width: 15.862%;
  height: 19.444%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-43,
.style-44,
.style-45 {
  position: initial;
  width: 48.913%;
  z-index: 5;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-43,
.style-45 {
  margin: 0 0 0 21.73%;
  width: 29.347%;
  height: 92.857%;
  z-index: 4
}
.style-45 {
  margin: 1px 0 0 23.56%;
  width: 1.149%;
  height: 34.693%;
  z-index: 6
}
.artboard-3-container-10-row-0,
.style-123 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-123 {
  z-index: 31;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 100%;
  height: 12.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
.artboard-3-container-10-row-0 {
  position: initial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 27px 0 0 3.78%;
  width: 91.948%;
  height: 25.362%
}
.style-124 {
  position: initial;
  margin: 3px 0 0;
  width: 5.429%;
  height: 78.571%;
  z-index: 32;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-125,
.style-126 {
  position: initial;
  margin: 3px 0 0 5.6%;
  width: 26.007%;
  z-index: 33;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-126 {
  margin: 0 0 0 56.74%;
  width: 6.217%;
  height: 100%;
  z-index: 34
}
.style-92 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 87.817%;
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.style-113 {
  position: initial;
  margin: 22px 0 0 5.95%;
  width: 36.553%;
  z-index: 21;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-3-container-0-row-1,
.style-121 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artboard-3-container-0-row-1 {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 24px 0 0 8.93%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 80.998%;
  height: 14.595%
}
.style-121 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 28.131%;
  height: 100%;
  z-index: 29
}
.style-118,
.style-122 {
  position: initial;
  margin: 32px 0 0 30.74%;
  width: 38.515%;
  height: 30.388%;
  z-index: 30;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-118 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 0 0 0 8.44%;
  width: 28.131%;
  height: 100%;
  z-index: 26
}
.style-119 {
  margin: 29px 0 0 32.15%;
  width: 32.862%;
  height: 31.448%;
  z-index: 27
}
.style-115,
.style-116,
.style-119 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-115 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 0 0 0 7.15%;
  width: 28.131%;
  height: 100%;
  z-index: 23
}
.style-116 {
  margin: 27px 0 0 30.74%;
  width: 33.922%;
  height: 37.455%;
  z-index: 24
}
.artboard-3-container-0-row-2 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 13px 0 0 11.35%;
  width: 79.549%;
  height: 2.372%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-120 {
  position: relative;
  width: 26.821%;
  z-index: 28;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-112,
.style-114,
.style-117 {
  position: initial;
  margin: 0 0 0 14.47%;
  width: 13.562%;
  z-index: 25;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-112,
.style-114 {
  margin: 0 0 0 15.38%;
  width: 29.757%;
  z-index: 22
}
.style-112 {
  margin: 49px 0 0 5.79%;
  width: 33.735%;
  z-index: 20
}
.artboard-3-container-0-listbox-0-row-0,
.style-93 {
  position: initial;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-93 {
  display: list-item;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 18px 0 0 2.25%;
  width: 95.249%;
  height: 53.687%
}
.artboard-3-container-0-listbox-0-row-0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 17px 0 0 3.38%;
  width: 41.166%;
  height: 11.047%
}
.style-109 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  width: 23.613%;
  height: 100%;
  z-index: 17
}
.style-109,
.style-110,
.style-111 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-110 {
  height: 58.26%;
  margin: 7px 0 0 30.43%;
  width: 39.13%;
  z-index: 18
}
.style-111 {
  margin: 11px 0 0 8.82%;
  width: 67.556%;
  z-index: 19
}
.artboard-3-container-0-listbox-0-row-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 15px 0 0 3.38%;
  width: 39.137%;
  height: 11.047%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-106 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  width: 24.838%;
  height: 100%;
  z-index: 14
}
.style-106,
.style-107,
.style-108 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-107 {
  height: 44.347%;
  margin: 10px 0 0 28.69%;
  width: 40.869%;
  z-index: 15
}
.style-108 {
  margin: 11px 0 0 9.28%;
  width: 65.874%;
  z-index: 16
}
.artboard-3-container-0-listbox-0-row-2 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 15px 0 0 3.38%;
  width: 46.238%;
  height: 11.047%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-103 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  width: 21.023%;
  height: 100%;
  z-index: 11
}
.style-103,
.style-104,
.style-105 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-104 {
  height: 37.391%;
  margin: 11px 0 0 30.43%;
  width: 41.739%;
  z-index: 12
}
.style-105 {
  margin: 11px 0 0 7.86%;
  width: 71.115%;
  z-index: 13
}
.artboard-3-container-0-listbox-0-row-3 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 15px 0 0 3.55%;
  width: 27.81%;
  height: 10.951%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  width: 34.65%;
  height: 100%;
  z-index: 8
}
.style-100,
.style-101,
.style-102 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-101 {
  height: 50%;
  margin: 7px 0 0 28.94%;
  width: 48.245%;
  z-index: 9
}
.style-102 {
  margin: 11px 0 0 13.98%;
  width: 51.367%;
  z-index: 10
}
.artboard-3-container-0-listbox-0-row-4 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 15px 0 0 3.38%;
  width: 55.367%;
  height: 11.047%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-97 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  width: 17.557%;
  height: 100%;
  z-index: 5
}
.style-97,
.style-98,
.style-99 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-98 {
  height: 31.304%;
  margin: 12px 0 0 28.69%;
  width: 43.478%;
  z-index: 6
}
.style-99 {
  margin: 11px 0 0 7.17%;
  width: 75.267%;
  z-index: 7
}
.artboard-3-container-0-listbox-0-row-5 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 15px 0 0 3.38%;
  width: 32.459%;
  height: 11.047%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-94 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  width: 29.947%;
  height: 100%;
  z-index: 2
}
.style-94,
.style-95,
.style-96 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.style-95 {
  height: 34.782%;
  margin: 12px 0 0 34.78%;
  width: 34.782%;
  z-index: 3
}
.style-96 {
  margin: 11px 0 0 12.23%;
  width: 57.812%;
  z-index: 4
}